@import "tailwindcss";

@font-face {
    font-family: "outfit";
    src: url(../../font/Outfit/Outfit-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "outfit";
    src: url(../../font/Outfit/Outfit-Medium.ttf);
    font-weight: 500;
}

@theme {
    /*SCREENS*/
    --breakpoint-mobile-S: 20rem;
    --breakpoint-mobile-M: 23.438rem;
    --breakpoint-mobile-L: 23.5rem;
    --breakpoint-tablet: 48rem;
    --breakpoint-desktop: 90rem;
    --breakpoint-desktop-L: 100rem;

    /*COLORS*/
    --color-red: #FC4747;
    --color-darkBlue: #10141E;
    --color-grayishBlue: #5A698F;
    --color-semiDarkBlue: #161D2F;
    --color-white: #FFFFFF;

    /*TYPOGRAPHY*/

    /*font family*/
    --font-outfit: "outfit", "sans-serif";

    /*font weight*/
    --font-weight-thin: 300;
    --font-weight-medium: 500;

    /*font size*/
    --text-11: 0.6875rem;
    --text-12: 0.758rem;
    --text-13: 0.8125rem;
    --text-14: 0.875rem;
    --text-15: 0.9375rem;
    --text-16: 1rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-24: 1.5rem;
    --text-32: 2rem;

    /*line height*/
    --leading-14: 0.875rem;
    --leading-15: 0.9375rem;
    --leading-16: 1rem;
    --leading-18: 1.125rem;
    --leading-19: 1.1875rem;
    --leading-20: 1.25rem;
    --leading-23: 1.4375rem;
    --leading-25: 1.5625rem;
    --leading-30: 1.875rem;
    --leading-40: 2.5rem;

    /*letter spacing*/
    --tracking-x1: -0.31px;
    --tracking-x2: -0.5px;
}

@layer base {
    *::-webkit-scrollbar {
        display: none
    }

    * {
        scrollbar-width: none
    }
}